
html {
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
}

a,
button,
input,
textarea {
   font-family: "Montserrat", sans-serif;
}

a,
a:visited {
   color: inherit;
}

div.leaflet-top.leaflet-right{
  bottom: 0;
  top: unset;
  left: 50%;
  right: unset;
  transform: translateX(-50%);
}
